.word-play {
  font-size: 2.5em;
  font-weight: bold;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .word-play {
    font-size: 1.5em;
    font-weight: bold;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 425px) {
  .word-play {
    font-size: 1.5em;
    font-weight: bold;
  }
  .image {
    width: auto;
    height: 50vh;
    object-fit: contain;
  }
}
